{% extends "tasks/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<style>
  body {
      font-size: 80%;
  }
  h1, p, th, a {
      font-size: 80%;
  }
  td {
      font-size: 70%;
  }
  /* Add more CSS rules for other elements as needed */
</style>
  <h1>Edit My Time Entry</h1>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}

    <style>
      input[type="text"], input[type="number"], input[type="date"], select {
        max-width: 200px;
      }
    </style>

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{% url 'delete-entry' entry.id %}" class="btn btn-primary">Delete</a>
  </form>
{% endblock %}

