{% extends "tasks/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<body>
    <h1>Billing Report</h1>
    <form method="POST" action="{% url 'generate_report' %}">
        {% csrf_token %}
        {{ form }}
        
        <input type="submit" value="Generate Report">
    </form>

    {% if bill_amount and breakdown %}
        <h4>--------------------------------------------------------</h4>
        for <b>{{start_date}}</b> to <b>{{end_date}}</b>, the total amount to bill <b>{{ client_name }}</b> is <b>${{ bill_amount }}</b>
        <h4>--------------------------------------------------------</h4>

        {% for key, value in breakdown.items %}
            <b>{{ key }}s</b> worked <b>{{ value.hours_worked }}</b> hours total at <b>${{value.rate}}</b> per hour
                <ul>
                    {% for job_type, job_hours in value.job_types.items %}
                        {{ job_type }}: {{ job_hours }} hours<br>
                    {% endfor %}
                </ul>
            
        {% endfor %}
    {% endif %}
</body>
{% endblock %}
