<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css">
  </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="">AkerTools</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'task-home' %}">All Tasks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mytasks' %}">My Tasks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Timesheet</a>
                        </li>
                        {% else %}
                        {% endif %}
                        <!-- Add more navigation items as needed -->
                        <div class="navbar-nav">
                            {% if user.is_authenticated %}
                            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                            {% else %}
                            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                            {% endif %}
                        </div>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page content -->
        <div class="container mt-4">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tages }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
</body>
</html>
