{% extends "tasks/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>My Tasks</h1>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Kind</th>
                    <th>Client</th>
                    <th>Description</th>
                    <th>Notes</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Actions</th>  <!-- Add Actions column -->
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.task_kind }}</td>
                        <td>{{ task.for_client }}</td>
                        <td>{{ task.task_description }}</td>
                        <td>{{ task.task_notes }}</td>
                        <td>{{ task.due_date|date:"n/j/Y" }}</td>
                        <td>{{ task.task_status }}</td>
                        <td>
                            <a href="{% url 'send_task' task.id %}" >Send</a> 
                            <a href="{% url 'edit_mytask' task.id %}" >Edit</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7">You have no tasks assigned.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action="{% url 'mycompletedtasks' %}">
            <button class="btn btn-link" type="submit">Completed Tasks</button>
         </form>
    </div>
    
{% endblock content %}
